* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center;
  background-size: cover;
  transition: 0.4s;
}
.slide_container {
  height: 70vh;
  width: 70vw;
  /* border: 2px solid black; */
  box-shadow: 10px 10px 9px rgb(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}
.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
  z-index: 1;
}
.slide.active {
  opacity: 1;
}
.arrow{
    position: fixed;
    top: 50%;
    background-color: none;
    border: 2px solid orange;
    color: orange;
    padding: 20px 25px;
    font-size: 20px;
}
.left-arrow {
    left: calc(15vw - 65px);
  }
  
  .right-arrow {
    right: calc(15vw - 65px);
  }
